* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fbfbfb;
}

html {
  overflow-x: hidden;
}

.body {
  overflow-x: hidden;
  color: #e5e5e5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

/* navigaciya */

nav {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100px;
  background: #fcfdfc;
}

.nav__items {
  display: flex;
  margin-left: 30px;
}
.nav__left {
  display: flex;
  align-items: center;
}

.nav__items {
  list-style-type: none;
  overflow: hidden;
  /* background-color: white; */
}

li {
  float: left;
}

.nav__item {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  margin-right: 45px;
  transition: all 0.3s;
}

.nav__item:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Header */

.header {
  margin-top: 68px;
  margin-bottom: 80px;
  position: relative;
}

.header__content {
  display: flex;
  padding-left: 16px;
}

.header__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__bg img {
  max-width: 2048px;
  width: 100%;
  height: 736px;
  z-index: -1;
  position: absolute;
  top: -23px;
  left: 0px;
  min-height: 736px;
}

.header__info {
  max-width: 689px;
  width: 100%;
  margin-top: 158px;
}

.header__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
  color: white;
  margin-bottom: 20px;
  margin-left: 0px;
}

.header__descr {
  max-width: 549px;
  width: 100%;
  min-height: 89px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 62px;
  color: #f9fcf8;
}

.btn {
  border: none;
  color: black;
  padding: 10px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 5px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background: #ffffff;
  border-radius: 42px;
}

.button1 {
  background-color: #1a62ff;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #fffdfd;
  border-radius: 42px;
  margin-right: 30px;
}

.button1:hover {
  background-color: white;
  color: black;
}

.button2 {
  background-color: #3e8914;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: white;
  border-radius: 42px;
  margin-right: 30px;
}

.button2:hover {
  background-color: white;
  color: black;
}

/* INFO ABOUT US */

.info {
  margin-top: 248px;
}

.info__item {
  display: flex;
  justify-content: space-between;
}

.info__item-img {
  margin-right: 19px;
  max-width: 668px;
  width: 100%;
}

.info__item-img img {
  width: 100%;
}

.info__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 112.9%;
  margin-bottom: 8px;
  margin-top: 32px;
  color: #3e8914;
}

.info__subtitle {
  font-weight: bold;
  font-size: 48px;
  line-height: 112.9%;
  color: #054740;
}

.info__item-descr {
  max-width: 698px;
  width: 100%;
  line-height: 24.51px;
  font-weight: 500;
  font-size: 14px;
  line-height: 173.34%;
  color: #8f8f8f;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.button3 {
  background-color: #3e8914;
  padding: 4.5px 27px;
  font-weight: normal;
  font-size: 18px;
  line-height: 173.34%;
  color: white;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
  border-radius: 49px;
}

.button3:hover {
  background-color: white;
  color: black;
}

#more {
  display: none;
}

/* SERVICE WHAT WE DO */
.first_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -25px;
}

.services {
  margin-bottom: 20px;
}

.service__text {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.service__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 173.34%;
  text-align: center;
  color: #054740;
  margin-top: 40px;
  margin-bottom: 20px;
}

.service__subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 172.3%;
  color: #8f8f8f;
  margin-bottom: 80px;
}

.icon__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 107.4%;
  color: #000000;
  margin-top: 18px;
}

.service__box1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 320px;
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 80px;
}

.service__icon {
  max-width: 320px;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.icon__img {
  max-width: 118px;
  width: 100%;
  height: 118px;
  box-sizing: border-box;
  background: #f2fff4;
  border-radius: 17px;
}

.icon__img img {
  padding-top: 24px;
  padding-bottom: 33px;
  object-fit: contain;
  transition: all 0.3s;
}
.imaq {
  width: 118px;
  height: 118px;
}

.icon__img img:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.icon__subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.06em;
  color: #2c2c2c;
}

.icon__descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 173.34%;
  text-align: center;
  color: #8f8f8f;
}

.service__box2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.service__box3 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* ABOUT PRODUCT INFO */

.infopro {
  background-color: #e9f1e7;
}

.infopro__content {
  position: relative;
  margin-bottom: 281px;
}
.infopro__item {
  display: flex;
  max-width: 1440px;
  width: 100%;
}

.infopro__item-texts {
  margin-left: 68px;
  margin-top: 70px;
  margin-bottom: 124px;
}
.infopro__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 112.9%;
  margin-bottom: 8px;
  margin-top: 32px;
  color: #3e8914;
}

.infopro__subtitle {
  font-weight: bold;
  font-size: 48px;
  line-height: 112.9%;
  color: #054740;
}

.infopro__descr {
  max-width: 692px;
  width: 100%;
  height: 144px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 173.34%;
  color: #676767;
}

.infopro__item-img {
  margin-top: 94px;
  margin-right: 34px;
}

.infopro__promo {
  display: none;
  max-width: 1000px;
  width: 100%;
  height: 310px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 13px 100px 1px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  margin-left: 80px;
  position: absolute;
  top: 491px;
  left: 16px;
}

.promo__text {
  display: flex;
}

.promo__descr {
  width: 281px;
  height: 93px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #747474;
  margin-left: 114px;
  margin-top: 134px;
  margin-bottom: 0px;
}

.button4 {
  z-index: 1;
  position: absolute;
  top: 513px;
  left: 167px;
  background-color: #3e8914;
  padding-left: 44px;
  padding-right: 44px;
  font-weight: normal;
  font-size: 18px;
  line-height: 173.34%;
  color: white;
  border-radius: 49px;
  margin-left: 40px;
}

.button4:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}

.promo__img {
  margin-left: 64px;
  margin-top: 67px;
}

.price__decsr {
  white-space: nowrap;
  margin-top: 67px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.line__price {
  white-space: nowrap;
  margin-top: 71px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #bc1b1b;
}

/* OUR PRODUCTS */
.product {
  margin-top: 80px;
  margin-bottom: 80px;
}

.product__content {
  max-width: 1277px;
  width: 100%;
  margin: 0px auto;
}

.product__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #054740;
}

.product__boxes1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
  margin-top: 48px;
  margin-right: -35px;
}

.product__boxes2 {
  display: flex;
}

.product__box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  max-width: 293px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.1);
  border-radius: 29px;
  margin-right: 35px;
  margin-bottom: 16px;
  padding: 25px 20px 56px 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.product__box:hover {
  box-shadow: 0 5px 15px rgba(53, 19, 19, 0.3);
}

.product__img {
  max-width: 210px;
  width: 100%;
  height: 210px;
  margin: 0px auto;
}

.product__subtitle {
  margin-top: 15px;
}

.product__subtitle h3 {
  min-height: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 107.4%;
  color: #676767;
}

.product__subtitle img {
  margin-top: 5px;
  width: 80px;
  height: 16px;
}

.product__rate {
  padding-top: 5px;
  padding-bottom: 21px;
}
.checked {
  color: orange;
}

.product__descr {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 107.4%;
  color: #3e8914;
}

.loxer__descr {
  font-weight: 600;
  font-size: 24px;
  line-height: 107.4%;
  color: #3e8914;
  padding-top: 17px;
}

.promo__btn {
  max-width: 293px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

.button5 {
  background-color: #3e8914;
  padding-left: 64px;
  padding-right: 64px;
  font-weight: normal;
  font-size: 18px;
  line-height: 173.34%;
  margin: 0px;
  color: white;
  border-radius: 49px;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}

.button5:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}


.product__value {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 85px;
}

.value__item {
  display: flex;
  margin-top: 85px;
}

.value__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 173.34%;
  color: #000000;
}

.value__item-descr {
  max-width: 250px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 173.34%;
  color: #8f8f8f;
}

.value__item-img {
  transition: all 0.3s;
}

.value__item-img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.value__item-img img {
  padding-right: 2px;
  padding-top: 24px;
}

/* STAFF SECTION */

.staff__text {
  text-align: center;
}

.staff__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 173.34%;
  text-align: center;
  color: #054740;
  margin-bottom: 20px;
}

.staff__subtitle {
  max-width: 1003px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0px auto;
  color: #8f8f8f;
  margin-top: 22px;
}

.staff__info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px auto;
  margin-top: 67px;
}

.staff__blog {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 32px;
}

.staff__img {
  width: 189.93px;
  height: 185px;
  margin: 0px auto;
}

.round {
  width: 189.93px;
  height: 185px;
  border-radius: 306px;
}

.staff__descr {
  text-align: center;
  max-width: 222px;
  width: 100%;
  text-align: center;
  color: #8f8f8f;
}

.staff__descr p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.staff__descr b {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.staff__btn {
  text-align: center;
}

.button6 {
  background-color: #3e8914;
  padding-left: 64px;
  padding-right: 64px;
  font-weight: normal;
  font-size: 18px;
  line-height: 173.34%;
  color: white;
  border-radius: 49px;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}

.button6:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}

/* NEWS */
.news {
  background-color: #f3f3f3;
}

.news__content {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  margin-top: 80px;
  background-color: #f3f3f3;
  padding-bottom: 99px;
}

.news__text {
  text-align: center;
  padding: 0px 16px;
  padding-top: 35px;
}

.news__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 173.34%;
  text-align: center;
  color: #054740;
}

.newss__subtitle {
  max-width: 1003px;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8f8f8f;
  margin: 0px auto;
  margin-top: 22px;
  margin-bottom: 51px;
}

.news__boxes {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
}

.news__box {
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  max-width: 392px;
  width: 100%;
  height: 574px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-right: 25px;
  margin-left: 25px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

.news__img img {
  max-width: 392px;
  width: 100%;
  height: 227px;
  border-radius: 19px;
}

.news__subtitle {
  max-width: 321px;
  width: 100%;
  min-height: 62px;
  color: #000000;
  padding-left: 10px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.news__subtitle h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 130.34%;
}

.news__descr {
  max-width: 351px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8f8f8f;
  padding: 0px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button7 {
  position: relative;
  bottom: 0;
  max-width: 392px;
  width: 100%;
  background-color: #054740;
  padding: 13px 130px;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.34%;
  color: #ffffff;
  border-radius: 0px;
  margin: 0px auto;
  white-space: nowrap;
}

.button7:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 7px 16px rgb(255, 255, 255);
}

/* ARTICLE */

.article {
  margin-top: 0%;
  height: 727px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.article__text {
  text-align: center;
  padding-top: 100px;
}

.article__title {
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #054740;
}

.article__boxes {
  margin: 0px auto;
  margin-top: 64px;
  max-width: 1300px;
  width: 100%;
}

.article__card {
  margin-right: 20px;
}

.article__box {
  max-width: 413px;
  width: 100%;
  height: 368px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #fff;
  position: relative;
  transition: 0.4s ease-in-out;
  padding: 37px 35px 20px 35px;
}

.article__box:hover {
  background-color: #f3f3f3;
  color: #e9f1e7;
}
.article__box:first-child {
  margin-left: 0px;
}

.article__subtitle {
  max-width: 377px;
  width: 100%;
  padding-top: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #054740;
}

.article__box img {
  max-width: 170px;
  width: 100%;
  position: absolute;
  top: 21%;
}

.article__descr {
  max-width: 377px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8f8f8f;
  margin: 0px auto;
  margin-top: 16px;
}

/* APPLICATION FORM */

.form {
  background-color: #e9f1e7;
}

.form__content {
  max-width: 1440px;
  width: 100%;
  background-color: #e9f1e7;
}

.form__active {
  display: flex;
}

.form__img {
  margin-left: 43px;
  margin-right: 53px;
  max-width: 531px;
  width: 100%;
}

.form__img img {
  width: 100%;
}

.form__blank {
  float: right;
  max-width: 600px;
  width: 100%;
  margin-right: 80px;
}

.text__subtitle {
  margin-top: 87px;
  font-weight: bold;
  font-weight: bold;
  font-size: 40px;
  line-height: 172.3%;
  color: #054740;
  margin-left: 22px;
}

.form__boxes {
  display: flex;
}
.input-icon {
  position: absolute;
  left: 3px;
  color: #686868;
  top: calc(50% - 0.5em);
}

#myInput {
  outline: none;
  padding-left: 44px;
  padding-right: 44px;
  box-sizing: border-box;
  border-radius: 78px;
}

.input-icon {
  margin-left: 10px;
}

.form__box {
  position: relative;
  margin-left: 18px;
  box-sizing: border-box;
  border-radius: 78px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0;
  border: none;
  border-bottom: 0px solid black;
  outline: none;
  padding-left: 44px;
  padding-right: 44px;
  box-sizing: border-box;
  border-radius: 78px;
}

input[type="submit"] {
  width: 215px;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 8px 7px;
  border: 1px solid black;
  border-radius: 42px;
  cursor: pointer;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
}

.button8 {
  max-width: 488px;
  width: 100%;
  margin-left: 14px;
  margin-bottom: 90px;
  background-color: #3e8914;
  padding-left: 64px;
  padding-right: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 173.34%;
  color: white;
  border-radius: 49px;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}

.button8:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}

/* FOOTER */
.footer {
  /* max-width: 1440px; */
  width: 100%;
  background-color: #054740;
}

.footer__content {
  position: relative;
}

.footer__text {
  text-align: center;
  padding: 0px 16px;
  padding-top: 60px;
  padding-bottom: 24px;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1061px;
  width: 100%;
  margin: 0px auto;
}

.footer__menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown__img {
  margin-left: 47px;
}

.footer__subtitle {
  max-width: 799px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 172.3%;
  text-align: center;
  color: #e4e4e4;
  margin: 0px auto;
  margin-top: 24px;
  margin-bottom: 48px;
}

.line__top {
  width: 1165px;
  height: 1px;
  background-color: #ffffff;
  margin: 0px auto;
  margin-bottom: 32px;
}

.line__bottom {
  width: 1165px;
  height: 1px;
  background-color: #ffffff;
  margin: 0px auto;
  margin-top: 32px;
}

.footer__menu-descr {
  margin-left: 84px;
  white-space: nowrap;
}

.footer__menu-descr:first-child {
  margin-left: 0px;
}

.footer__menu-descr a {
  color: #ffffff;
}

.fa-circle {
  margin-right: 34px;
  color: #13877b;
}

a {
  color: #8f8f8f;
}

.footer__descr {
  max-width: 1168px;
  width: 100%;
  margin: 0px auto;
  margin-top: 32px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #e4e4e4;
}

.footer__links {
  margin-top: 27px;
  margin-bottom: 50px;
  text-align: center;
}

.footer__link {
  margin-left: 69px;
}

.footer__link:first-child {
  margin-left: 0px;
}
.fa-copyright {
  color: white;
}
.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 172.3%;
  text-align: center;
  color: #b5b5b5;
  padding-bottom: 58px;
  margin-bottom: 0px;
}

.dropdown__descr {
  position: relative;
  display: inline-block;
  color: #fcfcfc;
  white-space: nowrap;
}

.dropdown__btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #054740;
  color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  max-width: 200px;
  height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  box-sizing: border-box;
  border-radius: 10px;
}

.dropdown-content a {
  text-decoration: none;
  color: #054740;
}

.dropdown-content a:hover {
  background-color: #e9f1e7;
}

.dropdown__descr:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
}

.dropdown__descr:hover .dropdown__btn {
  color: #e9f1e7;
  border-radius: 6px;
}

/* BURGER NORMAL WEBSITE */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 48px;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  margin-left: 4px;
  cursor: pointer;
  float: left;
  flex-direction: column;
}

.burger__line {
  background-color: black;
  width: 100%;
  height: 1px;
  transition: all 0.3s;
}

.burger__content {
  display: none;
}

.burger__list {
  display: flex;
  flex-direction: column;
}

.burger__item {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo__mob {
  display: none;
}

.adv {
  margin-bottom: 43px;
}

.adv__box {
  text-align: center;
  justify-content: center;
  position: relative;
  margin-top: 68px;
}

.adv__img {
  max-width: 1440px;
  width: 100%;
  height: 180px;
}

.adv__title {
  position: absolute;
  top: 30%;
  left: 23%;
  color: white;
  font-weight: 600;
  font-size: 36px;
  line-height: 130.34%;
}

.rede__box {
  display: flex;
}

.rede__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #3e8914;
}

.rede__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 173.3%;
  color: #054740;
}

.rede__descr {
  font-weight: normal;
  font-size: 18px;
  line-height: 173.3%;
  color: #000000;
}

.rede__btn {
  margin-top: 30px;
  margin-bottom: 50px;
}

.rede__image img {
  width: 522px;
  height: 319px;
  float: right;
  margin-top: -8px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.button10 {
  background-color: #3e8914;
  padding-left: 64px;
  padding-right: 64px;
  font-weight: normal;
  font-size: 18px;
  line-height: 173.34%;
  color: white;
  border-radius: 49px;
}

.button10:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}

.topic__box {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.topic__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #3e8914;
  margin-top: 108px;
  margin-bottom: 27px;
}

.topic__subtitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.05em;
  color: #054740;
  padding-right: 27px;
}

.topic__descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 173.3%;
  color: #000000;
  padding-right: 81px;
  padding-top: 32px;
  margin-top: 0px;
}

.topic__image {
  max-width: 461px;
  width: 100%;
  max-height: 454px;
  height: 100%;
}

.topic__img {
  margin-top: 270px;
  width: 100%;
  height: 100%;
}

.topic__btn {
  margin-top: 30px;
  margin-bottom: 50px;
}

.adv {
  margin-bottom: 43px;
}

.adv__box {
  text-align: center;
  justify-content: center;
  position: relative;
  margin-top: 68px;
}

.adv__img {
  max-width: 1440px;
  width: 100%;
  height: 180px;
}

.adv__title {
  position: absolute;
  top: 30%;
  left: 23%;
  color: white;
  font-weight: 600;
  font-size: 36px;
  line-height: 130.34%;
}

.rede__box {
  display: flex;
}

.rede__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #3e8914;
}

.rede__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 173.3%;
  color: #054740;
}

.rede__descr {
  font-weight: normal;
  font-size: 18px;
  line-height: 173.3%;
  color: #000000;
}

.rede__btn {
  margin-top: 30px;
  margin-bottom: 50px;
}

.rede__image img {
  width: 522px;
  height: 319px;
  float: right;
  margin-top: -8px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.button10 {
  background-color: #3e8914;
  padding-left: 64px;
  padding-right: 64px;
  font-weight: normal;
  font-size: 18px;
  line-height: 173.34%;
  color: white;
  border-radius: 49px;
}

.button10:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 7px 16px rgba(91, 186, 37, 0.3);
}

.topic__box {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.topic__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #3e8914;
  margin-top: 108px;
  margin-bottom: 27px;
}

.topic__subtitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.05em;
  color: #054740;
  padding-right: 27px;
}

.topic__descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 173.3%;
  color: #000000;
  padding-right: 81px;
  padding-top: 32px;
  margin-top: 0px;
}

.topic__image {
  max-width: 461px;
  width: 100%;
  max-height: 454px;
  height: 100%;
}

.topic__img {
  margin-top: 270px;
  width: 100%;
  height: 100%;
}

.topic__btn {
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1350px) {
  .header__bg img {
    top: -85px;
  }
}

@media (max-width: 1300px) {
  .product__content {
    padding: 0px 16px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0px 16px;
  }

  .nav__items {
    justify-content: space-between;
  }

  .nav__item {
    margin-right: 0px;
  }

  .news__content {
    padding-bottom: 99px;
  }

  .line__top {
    width: 1300px;
    margin-left: -50px;
  }

  .line__bottom {
    width: 1300px;
    margin-left: -50px;
  }

  .adv__content {
    padding: 0px;
  }

  .adv__img {
    width: 1440px;
  }
}

@media (max-width: 1120px) {
  .footer__menu {
    justify-content: center;
  }

  .footer__menus {
    max-width: 995px;
    width: 100%;
    justify-content: space-between;
  }

  .footer__menu-descr {
    margin-top: 32px;
    margin-left: 0px;
  }

  .line__bottom {
    margin-top: 32px;
  }
}

@media (max-width: 1100px) {
  .header {
    margin-top: 0rem;
    width: 100%;
    height: 100%;
  }

  .service__title {
    font-size: 18px;
  }

  .product__value {
    justify-content: space-around;
    margin-top: 0px;
  }

  .news__subtitle {
    font-size: 14px;
  }
}

@media (max-width: 1170px) {
  .infopro__item-texts {
    margin-bottom: 42px;
  }

  .text__subtitle {
    font-size: 36px;
    line-height: 117.8%;
  }

  .infopro__promo {
    top: 530px;
  }

  .button4 {
    top: 530px;
  }
}

@media (max-width: 1150px) {
  .infopro__promo {
    display: none;
  }

  .button4 {
    display: none;
  }
}

@media (max-width: 1124px) {
  .footer__menu {
    justify-content: center;
  }

  .dropdown__descr {
    display: none;
  }
}

@media (max-width: 1120px) {
  .line__top {
    margin-bottom: 0px;
  }
}

@media (max-width: 1080px) {
  .header__descr {
    margin-bottom: 20px;
  }

  .infopro__content {
    margin-bottom: 0px;
  }

  .topic__image {
    display: none;
  }
}

@media (max-width: 1000px) {
  .staff__info {
    max-width: 660px;
    width: 100%;
  }

  .staff__descr p {
    margin-bottom: 0px;
  }

  .news__content {
    padding-bottom: 67px;
  }

  .news__box {
    margin-right: 25px;
    margin-bottom: 32px;
  }
}

@media (max-width: 930px) {
  .nav__items {
    margin-left: 0px;
  }

  .infopro__item-texts {
    max-width: 500px;
    width: 100%;
  }

  .infopro__item-img {
    max-width: 450px;
    width: 100%;
  }

  .infopro__item-img img {
    width: 100%;
  }
}

@media (max-width: 900px) {
  nav {
    padding: 0px;
  }

  .nav__content {
    height: 53px;
  }

  .header__bg img {
    top: -133px;
  }

  .nav__left {
    display: none;
  }

  .nav__items {
    display: none;
  }

  .logo__mob {
    display: flex;
    float: right;
    margin-top: -5px;
    cursor: pointer;
  }

  .header {
    margin-top: 7px;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .header__info {
    margin-top: 90px;
  }

  .header__text {
    position: relative;
  }

  .burger {
    display: flex;
  }

  .burger_active .burger__line:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 3px);
  }

  .burger_active .burger__line:nth-child(2) {
    display: none;
  }

  .burger_active .burger__line:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -3px);
  }

  .burger__content {
    position: fixed;
    left: 0px;
    width: 360px;
    height: 100vh;
    background-color: #054740;
    z-index: 1;
  }

  .burger__list {
    display: flex;
    flex-direction: column;
    max-width: 265px;
    width: 100%;
    min-height: 279px;
    height: 100%;
    margin-top: 50px;
  }

  .burger__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-left: -28px;
    transition: all 0.3s;
  }

  .burger__line-bottom {
    width: 322px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 24px;
  }

  .burger-fa {
    margin-left: 16px;
    margin-bottom: 21px;
  }

  .burger__link:hover {
    transform: translateX(5px);
  }

  .burger__content_active {
    display: flex;
    top: 53px;
  }

  .burger_active {
    border: 1px solid transparent;
  }

  .btn__buttons {
    position: relative;
  }

  .btn {
    padding: 5.5px 41.5px;
    font-size: 12px;
  }

  .info {
    margin-top: 32px;
  }

  .info__item {
    flex-wrap: wrap-reverse;
  }

  .info__texts {
    margin-top: 0px;
  }

  .info__item-img img {
    width: 360px;
    margin-top: 30px;
  }

  .info__texts {
    flex-wrap: wrap;
    margin: 0px auto;
    margin-top: 40px;
  }

  .info__subtitle {
    min-width: 286px;
    width: 100%;
    font-size: 24px;
    line-height: 112.9%;
  }

  .info__item-descr {
    font-size: 10px;
  }

  .info__item-descr p {
    margin-bottom: 16px;
  }

  .service__text {
    text-align: center;
  }

  .service__title {
    font-size: 18px;
  }

  .service__img {
    width: 140px;
  }

  .service__box1:nth-child(3) {
    flex-wrap: wrap;
  }

  .infopro__item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 112.9%;
  }

  .infopro__subtitle {
    max-width: 305px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 112.9%;
  }

  .infopro__item-descr {
    max-width: 328px;
    width: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 173.34%;
  }

  .button7 {
    padding: 13px 130px;
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  .service__box1 {
    justify-content: space-around;
  }

  .service__icon-mob {
    display: none;
  }

  .service__icon {
    margin-bottom: 25px;
  }

  .service__boxs {
    display: flex;
    justify-content: space-around;
  }

  .service__box2 {
    flex-direction: column;
  }

  .service__box3 {
    flex-direction: column;
  }

  .icon__img {
    margin: 0px auto;
  }

  .form__blank {
    margin-right: 40px;
  }
}

@media (max-width: 830px) {
  .rede__image img {
    max-width: 522px;
    width: 100%;
    max-height: 319px;
    height: 100%;
    margin-top: 28px;
    float: inherit;
    padding-left: 0px;
  }

  .services {
    margin-bottom: 38px;
  }

  .service__icon {
    max-width: 160px;
    width: 100%;
  }

  .service__box1 {
    max-width: 160px;
    width: 100%;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
  }

  .icon__subtitle {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    min-height: 34px;
    margin-top: 7px;
  }

  .icon__descr {
    font-size: 10px;
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .icon__img {
    width: 83px;
    height: 83px;
  }

  .icon__img img {
    padding: 0px;
  }

  .imaq {
    width: 41px;
    height: 41px;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .form__active {
    flex-direction: column-reverse;
  }

  .form__content {
    padding: 0px;
  }

  .form__btn {
    max-width: 193px;
    width: 100%;
    margin: 0px auto;
  }

  .form__blank {
    padding: 0px 16px;
    max-width: 506px;
    margin: 0px auto;
    margin-bottom: 27px;
  }

  .text__subtitle {
    margin-top: 22px;
    margin-bottom: 16px;
  }

  #myInput {
    margin-bottom: 16px;
  }

  .button8 {
    max-width: 193px;
    padding: 11px 62px;
    font-size: 14px;
    margin: 0px auto;
    margin-top: 19px;
  }

  .form__img {
    margin: 0px auto;
  }

  .adv__title {
    font-size: 27px;
  }
}

@media (max-width: 750px) {
  .header__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }

  .header__descr {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    min-height: 55px;
    max-width: 282px;
    width: 100%;
  }

  .header__bg img {
    top: -160px;
  }

  .infopro__item {
    flex-direction: column;
  }

  .infopro__item-texts {
    max-width: 328px;
    margin: 0px auto;
    margin-top: 28px;
    margin-bottom: 23px;
  }

  .infopro__item-img {
    max-width: 360px;
    margin: 0px auto;
    margin-bottom: 42px;
  }
}
@media (max-width: 700px) {
  .info__texts {
    margin-top: 30px;
  }

  .button2 {
    left: 41%;
  }

  .product {
    margin-top: 32px;
    margin-bottom: 44px;
  }

  .value__item {
    margin-top: 48px;
  }

  .staff__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .staff__text img {
    width: 113px;
    height: 20px;
  }

  .staff__subtitle {
    margin-top: 8px;
    font-size: 10px;
    line-height: 173.34%;
  }

  .news__box {
    margin-right: 0px;
  }

  .footer__menus {
    justify-content: space-around;
    max-width: 310px;
  }

  .fa__mob {
    display: none;
  }
}

@media (max-width: 650px) {
  .header__bg img {
    margin-top: -34px;
  }

  .service__icon {
    max-width: 160px;
  }

  .icon__img {
    width: 83px;
    height: 83px;
  }

  .icon__img img {
    width: 41px;
  }

  .tag img {
    max-width: 25px;
    width: 100%;
  }

  .icon__subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .icon__descr {
    font-size: 10px;
  }
}
.btn-pagination{
  background-color: black;
  color: white;
}

.btn-pagination:hover{
  color: yellow;
}

.checked {
  color: orange;
}

@media (max-width: 630px) {
  .news__box {
    max-width: 242px;
    width: 100%;
    height: 390px;
  }

  .news__img img {
    max-width: 242px;
    width: 100%;
    height: 150px;
  }

  .news__subtitle {
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .news__subtitle h3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 130.34%;
  }

  .news__descr {
    font-size: 10px;
    line-height: 173.34%;
  }

  .button7 {
    padding: 8px 77px;
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .logo__mob {
    margin-right: -16px;
  }

  .info__texts {
    margin-left: 12px;
  }

  .info__item-img img {
    width: 294px;
    margin-top: 32px;
  }

  .service__title {
    font-size: 18px;
  }

  .service__img {
    width: 140px;
  }

  .service__subtitle {
    font-size: 10px;
    margin-top: 8px;
  }

  .service__box1 {
    margin-right: 5px;
    margin-left: 5px;
  }

  .staff__info {
    max-width: 222px;
    margin-top: 42px;
  }

  .news__content {
    margin-top: 100px;
  }

  .article {
    height: 590px;
  }

  .article__text {
    padding-top: 41px;
  }

  .article__text img {
    width: 113px;
    height: 20px;
  }

  .article__title {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 8px;
  }

  .article__boxes {
    margin-top: 32px;
  }
}

@media (max-width: 500px) {
  .header {
    margin-bottom: 90px;
  }

  .btn__buttons {
    display: flex;
    flex-wrap: nowrap;
  }

  .button1 {
    padding: 9px 30px;
    line-height: 14px;
    margin-right: 5px;
    margin-left: 0px;
  }

  .button2 {
    padding: 9px 30px;
    line-height: 14px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .header__bg img {
    width: 500px;
    height: 250px;
  }

  .info {
    margin-top: 0px;
  }

  .info__item-title {
    margin-top: 0px;
    font-size: 14px;
  }

  .info__item-img img {
    width: 294px;
    margin-top: 32px;
  }

  .info__texts {
    margin-top: 0px;
  }

  .service__title {
    font-size: 18px;
  }

  .news__title {
    font-size: 18px;
  }

  .news__text {
    padding-top: 37px;
  }

  .news__text img {
    width: 113px;
    height: 20px;
  }

  .newss__subtitle {
    font-size: 10px;
    line-height: 173.34%;
    margin-top: 8px;
    margin-bottom: 31px;
  }

  .staff__blog {
    margin-right: 0px;
    margin-left: 0px;
  }

  .article {
    height: 487px;
  }

  .article__box {
    max-width: 285px;
    height: 265px;
    padding: 6px 24px 20px 24px;
  }

  .article__subtitle {
    font-size: 14px;
    line-height: 118.84%;
  }

  .article__box img {
    max-width: 133px;
    width: 100%;
  }

  .article__descr {
    font-size: 10px;
    line-height: 173.34%;
    margin-top: 9px;
  }

  .form__boxes {
    flex-direction: column;
  }

  .footer__text {
    padding-top: 57px;
    padding-bottom: 0px;
  }

  .footer__menus {
    max-width: 290px;
  }

  .footer__text img {
    width: 70px;
    height: 70px;
  }

  .footer__subtitle {
    margin-top: 16px;
    margin-bottom: 57px;
    font-size: 12px;
  }

  .footer__menu-descr {
    margin-top: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .line__bottom {
    margin-top: 16px;
  }

  .footer__descr {
    display: none;
  }

  .footer__links {
    margin-top: 48px;
  }

  .footer__link {
    margin-left: 48px;
  }

  .footer__link img {
    width: 40px;
    height: 40px;
  }

  .footer__copyright {
    margin-top: 64px;
    font-size: 10px;
    padding-bottom: 149px;
  }

  .adv__title {
    font-size: 23px;
  }

  .topic__descr {
    padding-right: 50px;
  }

  .topic__subtitle {
    padding-right: 0px;
    font-size: 27px;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .product__boxes1 {
    margin-top: 24px;
    margin-bottom: 10px;
    margin-right: -11px;
  }

  .product__title {
    font-size: 18px;
    line-height: 21px;
  }

  .product__box {
    max-width: 144px;
    width: 100%;
    padding: 12px 12px;
    margin-right: 11px;
  }

  .product__img {
    max-width: 120px;
    width: 100%;
    height: 120px;
  }

  .product__subtitle {
    margin-top: 5px;
  }

  .product__subtitle h3 {
    min-height: 29px;
    font-size: 12px;
  }

  .product__subtitle img {
    width: 50px;
    height: 10px;
  }

  .product__rate {
    padding: 0px;
    padding-right: 22px;
  }

  .product__descr {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .value__item-texts {
    max-width: 191px;
    width: 100%;
    margin-left: 9px;
  }

  .value__subtitle {
    font-size: 18px;
  }

  .value__item-descr {
    font-size: 10px;
    margin: 0px;
  }

  .value__item-img img {
    padding: 0px;
    width: 57px;
    height: 44px;
    margin-top: 20px;
  }

  .staff__img {
    width: 147px;
    height: 143px;
    margin: 0px auto;
  }

  .staff__img img {
    width: 147px;
    height: 143px;
  }

  .staff__descr p {
    margin-top: 8px;
    font-size: 12px;
    line-height: 140.84%;
  }

  .staff__descr b {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 390px) {
  .service__subtitle {
    margin-bottom: 63px;
  }

  .icon__text {
    padding: 0px 10px;
  }
}

@media (max-width: 360px) {
  .info__item-descr {
    padding-right: 33px;
  }

  .button1 {
    padding: 9px 15px;
    margin-right: 16px;
  }

  .button2 {
    padding: 9px 15px;
  }
}
