 {% extends 'base.html' %}

{% block content %}

    <h1>
        Авторы
    </h1>

    <div class="row mb-2">
            </div>
            <div class="grid-posts">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <img {% if doctor.picture %} src='{{ doctor.picture.url }}' {% endif %} alt="Doctor image">
                                <h1>{{ doctor.fullname }}</h1>
                                <h2>{{ doctor.experience }}</h2>
                                <h3>{{ doctor.description }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>


{% endblock %}