<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявки</title>
</head>
<body>
     <form  action="" method="post" >
		<h2>Форма обратной связи.</h2>
        {%csrf_token%}
		<p> <div class="titles">Ф.И.О*</div> <input class="input" name="fullname" type="text"/> </p>

		<p> <div class="titles">Ваша область*</div> <input class="input" name="area" type="text"/> </p>

		<p> <div class="titles">Номер телефона*</div> <input class="input" name="phone_number" type="text"/> </p>

		<p><input value="Отправить" type="submit" /></p>
	</form>
</body>
</html>