 {% extends 'base.html' %}

{% block content %}

    <h1>
        Авторы
    </h1>

    <div class="row mb-2">
            </div>
            <div class="grid-posts">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <img {% if new.picture %} src='{{ new.picture.url }}' {% endif %} alt="News image">
                                <h1>{{ new.title }}</h1>
                                <h3>{{ new.description }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>


{% endblock %}