<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/vet/css/style.css" />
    <title>Vetkg</title>
  </head>
  <body>
    <nav>
      <div class="nav container">
        <div class="nav__content">
          <div class="nav__left">
            <a href="index.html" class="logo">
              <img src="../static/images/logonew.svg" alt="" />
            </a>

            <ul class="nav__items">
              <li class="nav__item"><a href="index.html">О нас</a></li>
              <li class="nav__item"><a href="index.html">Услуги</a></li>
              <li class="nav__item"><a href="index.html">Ветеринары</a></li>
              <li class="nav__item">
                <a href="index.html">Полезные советы</a>
              </li>
              <li class="nav__item"><a href="index.html">Новости</a></li>
              <li class="nav__item"><a href="#contacts">Контакты</a></li>
            </ul>
          </div>

          <div class="burger">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
          </div>

          <div class="burger__content">
            <ul class="burger__list">
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">О НАС</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">УСЛУГИ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">ВЕТЕРИНАРЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">ПОЛЕЗНЫЕ СОВЕТЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">НОВОСТИ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="#contacts" class="burger__link">КОНТАКТЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
            </ul>
          </div>

          <a href="index.html" class="logo__mob">
            <img src="../static/images/moblogo.svg" alt="" />
          </a>
        </div>
      </div>
    </nav>

    <header class="adv">
      <div class="container adv__content">
        <div class="adv__box">
          <img src="../static/images/adv__snow.png" alt="" class="adv__img" />
          <div class="adv__text">
            <h2 class="adv__title">Чем зима опасна для вашего питомца?</h2>
          </div>
        </div>
      </div>
    </header>

    <seciton class="rede">
      <div class="container rede__content">
        <div class="rede__box">
          <div class="rede__text">
            <h3 class="rede__title">Главная / Полезные советы</h3>
            <div class="rede__image">
              <img src="../static/images/dog.png" alt="" class="rede__img" />
            </div>
            <p class="rede__descr">
              Что уж спорить, все мы любим зиму! Как здорово в холодный
              солнечный день погулять в парке, покататься на лыжах или на санках
              с горки! И наши питомцы тоже любят поваляться в снегу и поскакать
              по сугробам.
            </p>
            <h3 class="rede__subtitle">Переохлаждение</h3>
            <p class="rede__descr">
              Это первая опасность, которая подстерегает наших любимцев. Внешние
              признаки переохлаждения: собака дрожит и поджимает лапы. Многие
              животные отказываются продолжать прогулку и ясно дают хозяину
              понять, что пора возвращаться домой. Если с вашим любимцем
              происходит именно это, можно либо пробежаться вместе с ним, либо
              попрыгать и таким образом ытаться согреться. Если же он упорно
              тянет домой, не настаивайте на продолжении прогулки, идите домой
              греться. <br />То, как собака переносит холода, зависит от размера
              и породы. Если для сенбернара, алабая или ньюфаундленда –10
              градусов – приятная и комфортная температура, то для боксера или
              добермана это холодно, а для декоративной собачки вроде чихуахуа –
              катастрофа. Опасность заключается именно в размерах, ведь мелким
              животным требуется больше энергии для поддержания температуры
              тела. Для таких питомцев точно стоит задуматься о приобретении
              попоны или курточки.
            </p>
            <h3 class="rede__subtitle">Обморожение</h3>
            <p class="rede__descr">
              Это следующая стадия переохлаждения. Страна наша большая,
              регионов, где температура зимой опускается ниже –30 градусов,
              много. В январе этого года по ТВ часто показывали сюжеты, как в
              северных областях при температуре в –52 градуса животные замерзали
              насмерть. <br />
              При обморожении у собак чаще страдают уши, живот, гениталии и
              пальцы, то есть места, почти не прикрытые шерстью или откровенно
              голые. Поэтому когда мороз на улице становится очень сильным,
              наденьте на питомца куртку, закрывающую живот, а еще лучше –
              зимний комбинезон. И сократите время прогулок для короткошерстных
              и мелких декоративных пород. Лучше летом догуляете.
            </p>
            <h3 class="rede__subtitle">Травмы</h3>
            <p class="rede__descr">
              Да-да, как это ни странно звучит, зимний травматизм у наших
              питомцев существует. Собака тоже может поскользнуться на льду,
              сильно ушибиться, сломать лапу, растянуть или порвать связки на
              «холодных» суставах. <br />О «холодных суставах» отлично знают
              все, кто занимается спортом. Прежде чем начать серьезную
              тренировку, делают ряд упражнений для того, чтобы размять,
              разогреть суставы, иначе есть риск растяжений и травм. Так же и у
              собак. Когда гуляете со своим питомцем, позволяйте ему долго
              стоять на холоде, а тем более сидеть. Пес все время должен
              находиться в движении. <br />Еще один риск получить травму –
              скрытые под сугробами трубы, куски арматуры, битое стекло,
              проволока и прочие прелести. Избегайте мест для прогулок, где есть
              вероятность получить травму.
            </p>

            <h3 class="rede__subtitle">Соль и химреагенты</h3>
            <p class="rede__descr">
              Зимой улицы городов обильно посыпают солью, чтобы защититься от
              гололеда. Когда вы идете по тротуарам, от соли страдает ваша обувь
              и лапы вашего питомца. Соль и ее раствор попадают между пальцами,
              в трещинки на подушечках лап и вызывают зуд и раздражение, а у
              некоторых собак – аллергию или дерматоз. У многих длинношерстных
              пород между пальцами растет шерсть, и соль остается на ней.
              <br />Собаки не склонны часто себя вылизывать, как кошки, но после
              прогулок большинство из них облизывают лапы. Поэтому после
              возвращения домой тщательно вымойте питомцу лапы. И можно даже с
              мылом. Если этого не сделать, пес будет сам очищать лапы и
              наглотается соли, химреагентов и песка (им тоже посыпают
              тротуары). А это не принесет пользы здоровью. Еще можно стричь
              шерсть на лапах между пальцами, чтобы соль, оставшаяся на
              неостриженной шерсти, не раздражала кожу и желудок вашего друга.
              Подумайте о приобретении для четвероногого друга специальной
              обуви, которая защитит от уличной химии. Если же он категорически
              отказывается носить ботинки, выходом станут специальные кремы,
              спреи, присыпки, продающиеся в зоомагазинах или ветеринарных
              аптеках.
            </p>
          </div>
        </div>

        <!-- knopka -->
        <div class="rede__btn">
          <a href="index.html">
            <button class="btn button10">Вернуться на главную страницу</button>
          </a>
        </div>
      </div>
    </seciton>

    <a name="contacts"></a>
    <footer class="footer">
      <div class="container footer__content">
      <div class="footer__text">
        <img src="../static/images/logo2.png" alt=""> 
        <h3 class="footer__subtitle"> «Если вы ищете новую ветеринарную 
          клинику для ухода за любимой лошадью, коровой собакой или кошкой, 
          не ищите дальше.  
          Мы здесь, чтобы помочь!» 
        </h3>                 
      </div>
    
      <div class="line__top"></div>
      <div class="footer__menu">
        <ul class="footer__menus">
          <li class="footer__menu-descr">
            <a href="#aboutUs">О нас</a>
          </li>
          <li class="footer__menu-descr">
            <a href="#services">
              <i class="fa fa-circle"></i>Услуги
            </a>
          </li>      
          <li class="footer__menu-descr">
            <a href="#veterinarians">
              <i class="fa fa-circle"></i>Ветеринары
            </a>
          </li>      
          <li class="footer__menu-descr">
            <a href="#news">
              <i class="fa fa-circle fa__mob"></i>Новости
            </a>
          </li>      
          <li class="footer__menu-descr">
            <a href="#tips">
              <i class="fa fa-circle"></i>Полезные советы
            </a>
          </li> 
        </ul>
    
        <div class="dropdown__descr">
          <i class="fa fa-circle dropdown__img"></i>
            <button class="dropdown__btn">Контакты</button> 
          <i class="fa fa-caret-down"></i>
    
          <div class="dropdown-content">
            <a href="tel:996503942313">+996 (503) 94 23 13</a>
            <a href="tel:996550634798">+996 (550) 63 47 98</a>
            <a href="tel:996515527716">+996 (515) 52 77 16</a>
          </div>
        </div>
      </div>
    
      <div class="line__bottom"></div>
        <div class="footer__descr">
          <p>Адрес: Г.Бишкек московская 207/5</p>
        </div>
    
        <div class="footer__links">
          <a href="" class="footer__link">
            <img src="../static/images/facebook.svg" alt="" class="">
          </a>
          <a href="" class="footer__link">
            <img src="../static/images/instagram.svg" alt="" class="">
          </a>
          <a href="" class="footer__link">
            <img src="../static/images/telegram.svg" alt="" class="">
          </a>   
        </div>
        <p class="footer__copyright">
          <i class="fa fa-copyright"></i>2021  Vet Kg  Все права защищены 
        </p>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
