<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/vet/css/style.css" />
    <title>Vetkg</title>
  </head>
  <body>
    <nav>
      <div class="nav container">
        <div class="nav__content">
          <div class="nav__left">
            <a href="index.html" class="logo">
              <img src="../static/images/logonew.svg" alt="" />
            </a>

            <ul class="nav__items">
              <li class="nav__item"><a href="index.html">О нас</a></li>
              <li class="nav__item"><a href="index.html">Услуги</a></li>
              <li class="nav__item"><a href="index.html">Ветеринары</a></li>
              <li class="nav__item">
                <a href="index.html">Полезные советы</a>
              </li>
              <li class="nav__item"><a href="index.html">Новости</a></li>
              <li class="nav__item"><a href="#contacts">Контакты</a></li>
            </ul>
          </div>

          <div class="burger">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
          </div>

          <div class="burger__content">
            <ul class="burger__list">
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">О НАС</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">УСЛУГИ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">ВЕТЕРИНАРЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">ПОЛЕЗНЫЕ СОВЕТЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="index.html" class="burger__link">НОВОСТИ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="#contacts" class="burger__link">КОНТАКТЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
            </ul>
          </div>

          <a href="index.html" class="logo__mob">
            <img src="../static/images/moblogo.svg" alt="" />
          </a>
        </div>
      </div>
    </nav>

    <seciton class="topic">
      <div class="container topic__content">
        <div class="topic__box">
          <div class="topic__text">
            <h3 class="topic__title">Главная / Новости</h3>
            <h3 class="topic__subtitle">
              Vet Kg поощряет здоровые летние привычки для домашних животных,
              делится важными советами по улучшению их режима тренировок и
              укреплению здоровья
            </h3>
            <p class="topic__descr">
              Облизывает руки и лицо - Это может означать несколько разных
              вещей, - говорит зоопсихолог Марианна Гладких. - Например,
              благодарность - «целую ваши руки». Но если собака постоянно жаждет
              облизать хозяина, то, скорее всего, питомцу не хватает соли и он
              восполняет эту нехватку. А возможно, реализует так сексуальное
              возбуждение. Иногда такие привычки животных, как собачьи поцелуи,
              говорят об инфантилизме - когда взрослый пес ведет себя, как
              щенок. Чтобы успокоиться в некомфортной обстановке, ему надо
              реализовать сосательный рефлекс или облизать «старшего». - Хотите
              избавиться от навязчивых поцелуев собаки, чаще с ней общайтесь и
              побольше гуляйте, - советует зоопсихолог. Наклоняет голову Вы
              говорите, а пес сосредоточенно смотрит, двигает ушами и наклоняет
              голову то вправо, то влево. Кажется, он хочет понять вашу речь. -
              Собака пытается попеременно настраивать уши - два своих приемника
              - на источник звука, чтобы воспринимать сигнал точнее, - объясняет
              Елена Непринцева, кандидат биологических наук, возглавляющая
              сектор научных исследований в Московском зоопарке. - Смысла наших
              слов собака не различает, но сигналов, которые она считывает,
              хватает, чтобы понять, что ее ожидает - лакомство или наказание.
              Грызет обувь Одна из распространенных привычек домашних животных.
              Если так себя ведет взрослая собака, значит, у нее проблемы:
              хозяин не уделяет ей достаточно внимания, не нагружает физически
              или просто долго не бывает дома. Словом, причина - скука и
              отсутствие дрессировки. Для щенка же обувь - тренажер для
              прорезывания зубов, а еще первая «жертва», ведь охотничий инстинкт
              у собаки просыпается рано. Надо воспитывать! Спит на спине
              Решаются спать с открытым животом лишь питомцы, чувствующие себя в
              безопасности, и то если в доме достаточно тепло. Как только
              становится прохладно, животные норовят свернуться клубком -
              принять позу, наиболее сохраняющую тепло. ЭТО ИНТЕРЕСНО Таблица
              соотношения возраста собаки и человека: овчарки стареют раньше, а
              йорки дольше остаются молодыми Таблица соотношения возраста собаки
              и человека, выясняем, как определить Кошка Лезет в коробку Любовь
              мурок к коробкам связана с особенностями их способа охоты. Кошка -
              хищник, несмотря на милый внешний вид. В отличие от собак, которые
              часто действуют в стае и загоняют добычу, кошки нападают из
              засады. Долго ждать, затаившись в укромном месте, и совершить один
              точный бросок - вот на что заточен маленький хищник. Если будешь
              сидеть на холодном, мышцы закостенеют и прыжок не получится,
              отсюда любовь котов к теплу. Коробка - отличное место! Подходит
              для засады, в ней хорошо сохраняется тепло, да и от хищников
              покрупнее можно спрятаться. Примерно так объяснила бы свое
              поведение кошка, если бы могла говорить. Мочится в тапки Кошки
              живут в мире запахов. У них отличный нюх, с его помощью они
              ориентируются в ространстве, находят пищу, общаются. - Для кошки
              запах, сохраняющийся в обуви, - серьезный раздражитель, -
              растолковывает Елена Непринцева. - Когда кошка использует ботинок
              как унитаз, она пытается перекрыть чужой запах своим собственным,
              чтобы чувствовать себя увереннее. Ластится к чужим и не любит
              купаться Для кошки собственный запах - возможность разделять всех
              на своих и чужих. Когда в дом приходит незнакомый человек, кошка
              начинает тереться об него, если готова принять за своего. Если
              хозяин погладит кошку, она вылижется, чтобы вернуть свой запах.
              Именно из-за угрозы потерять привычный запах кошки стараются
              избегать воды и яростно сопротивляются купанию. Ложится на больное
              место - Это скорее народный миф, - считает Марианна Гладких. -
              Кошка просто любит тепло и всегда выбирает самое мягкое место с
              самой высокой температурой. Может совпасть, что животное ляжет
              туда, где у человека болит. Топчет лапками тело хозяина - Это
              поведение сродни гимнастике, когда животное потягивается, чешется,
              разминает мышцы, - говорит Елена Непринцева. - У котят есть
              привычка делать так называемые молочные шажки, когда малыш лапками
              массирует живот матери. Это не стимулирует соски и не приводит к
              притоку молока, как думают многие. Но помогает котенку развивать
              нервную систему. Связаны ли «молочные шажки» с тем, что взрослая
              кошка «месит» ту часть нашего тела, на которой сидит? Вполне
              вероятно, ведь поведение взрослого животного отчасти связано с его
              детством.
            </p>
          </div>
        </div>

        <!-- knopka -->
        <div class="topic__btn">
          <a href="index.html">
            <button class="btn button10">Вернуться на главную страницу</button>
          </a>
        </div>
      </div>
    </seciton>

    <a name="contacts"></a>
    <footer class="footer">
      <div class="container footer__content">
        <div class="footer__text">
          <img src="../static/images/logo2.png" alt="" />
          <h3 class="footer__subtitle">
            «Если вы ищете новую ветеринарную клинику для ухода за любимой
            лошадью, коровой собакой или кошкой, не ищите дальше. Мы здесь,
            чтобы помочь!»
          </h3>
        </div>

        <div class="line__top"></div>
        <div class="footer__menu">
          <ul class="footer__menus">
            <li class="footer__menu-descr">
              <a href="#aboutUs">О нас</a>
            </li>
            <li class="footer__menu-descr">
              <a href="#services"> <i class="fa fa-circle"></i>Услуги </a>
            </li>
            <li class="footer__menu-descr">
              <a href="#veterinarians">
                <i class="fa fa-circle"></i>Ветеринары
              </a>
            </li>
            <li class="footer__menu-descr">
              <a href="#news"> <i class="fa fa-circle fa__mob"></i>Новости </a>
            </li>
            <li class="footer__menu-descr">
              <a href="#tips"> <i class="fa fa-circle"></i>Полезные советы </a>
            </li>
          </ul>

          <div class="dropdown__descr">
            <i class="fa fa-circle dropdown__img"></i>
            <button class="dropdown__btn">Контакты</button>
            <i class="fa fa-caret-down"></i>

            <div class="dropdown-content">
              <a href="tel:996503942313">+996 (503) 94 23 13</a>
              <a href="tel:996550634798">+996 (550) 63 47 98</a>
              <a href="tel:996515527716">+996 (515) 52 77 16</a>
            </div>
          </div>
        </div>

        <div class="line__bottom"></div>
        <div class="footer__descr">
          <p>Адрес: Г.Бишкек московская 207/5</p>
        </div>

        <div class="footer__links">
          <a href="" class="footer__link">
            <img src="../static/images/facebook.svg" alt="" class="" />
          </a>
          <a href="" class="footer__link">
            <img src="../static/images/instagram.svg" alt="" class="" />
          </a>
          <a href="" class="footer__link">
            <img src="../static/images/telegram.svg" alt="" class="" />
          </a>
        </div>
        <p class="footer__copyright">
          <i class="fa fa-copyright"></i>2021 Vet Kg Все права защищены
        </p>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
