<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/vet/css/style.css" />
    <title>Vetkg</title>
  </head>
  <body>
    <nav>
      <div class="nav container">
        <div class="nav__content">
          <div class="nav__left">
            <a href="/" class="logo">
              <img src="../../static/images/logonew.svg" alt="" />
            </a>

            <ul class="nav__items">
              <li class="nav__item"><a href="/#aboutUs">О нас</a></li>
              <li class="nav__item"><a href="">Услуги</a></li>
              <li class="nav__item"><a href="/#veterinarians">Ветеринары</a></li>
              <li class="nav__item">
                <a href="/#tips">Полезные советы</a>
              </li>
              <li class="nav__item"><a href="/#news">Новости</a></li>
              <li class="nav__item"><a href="/#contacts">Контакты</a></li>
            </ul>
          </div>

          <div class="burger">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
          </div>

          <div class="burger__content">
            <ul class="burger__list">
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="/#aboutUs" class="burger__link">О НАС</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="/#services" class="burger__link">УСЛУГИ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="/#veterinarians" class="burger__link">ВЕТЕРИНАРЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="/#tips" class="burger__link">ПОЛЕЗНЫЕ СОВЕТЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="/#news" class="burger__link">НОВОСТИ</a>
                <div class="burger__line-bottom"></div>
              </li>
              <li class="berger__item">
                <i class="fa fa-circle burger-fa"></i>
                <a href="/#contacts" class="burger__link">КОНТАКТЫ</a>
                <div class="burger__line-bottom"></div>
              </li>
            </ul>
          </div>

          <a href="/#" class="logo__mob">
            <img src="../../static/images/moblogo.svg" alt="" />
          </a>
        </div>
      </div>
    </nav>

    <seciton class="topic">
      <div class="container topic__content">
        <div class="topic__box">
          <div class="topic__text">
            <h3 class="topic__title">Главная / Новости</h3>
            <h3 class="topic__subtitle">
              <div class="rede__image">
                <img src="{{ news.picture.url }}" alt="" class="rede__img" />
              </div>
              {{ news.title }}
            </h3>
            <p class="topic__descr">
              {{ news.description}}
            </p>
          </div>
        </div>

        <!-- knopka -->
        <div class="topic__btn">
          <a href="/">
            <button class="btn button10">Вернуться на главную страницу</button>
          </a>
        </div>
      </div>
    </seciton>

    <a name="contacts"></a>
    <footer class="footer">
      <div class="container footer__content">
        <div class="footer__text">
          <img src="../../static/images/logo2.png" alt="" />
          <h3 class="footer__subtitle">
            «Если вы ищете новую ветеринарную клинику для ухода за любимой
            лошадью, коровой собакой или кошкой, не ищите дальше. Мы здесь,
            чтобы помочь!»
          </h3>
        </div>

        <div class="line__top"></div>
        <div class="footer__menu">
          <ul class="footer__menus">
            <li class="footer__menu-descr">
              <a href="/#aboutUs">О нас</a>
            </li>
            <li class="footer__menu-descr">
              <a href="/#services"> <i class="fa fa-circle"></i>Услуги </a>
            </li>
            <li class="footer__menu-descr">
              <a href="/#veterinarians">
                <i class="fa fa-circle"></i>Ветеринары
              </a>
            </li>
            <li class="footer__menu-descr">
              <a href="/#news"> <i class="fa fa-circle fa__mob"></i>Новости </a>
            </li>
            <li class="footer__menu-descr">
              <a href="/#tips"> <i class="fa fa-circle"></i>Полезные советы </a>
            </li>
          </ul>

          <div class="dropdown__descr">
            <i class="fa fa-circle dropdown__img"></i>
            <button class="dropdown__btn">Контакты</button>
            <i class="fa fa-caret-down"></i>

            <div class="dropdown-content">
              <a href="tel:996503942313">+996 (503) 94 23 13</a>
              <a href="tel:996550634798">+996 (550) 63 47 98</a>
              <a href="tel:996515527716">+996 (515) 52 77 16</a>
            </div>
          </div>
        </div>

        <div class="line__bottom"></div>
        <div class="footer__descr">
          <p>Адрес: Г.Бишкек московская 207/5</p>
        </div>

        <div class="footer__links">
          <a href="" class="footer__link">
            <img src="../../static/images/facebook.svg" alt="" class="" />
          </a>
          <a href="" class="footer__link">
            <img src="../../static/images/instagram.svg" alt="" class="" />
          </a>
          <a href="" class="footer__link">
            <img src="../../static/images/telegram.svg" alt="" class="" />
          </a>
        </div>
        <p class="footer__copyright">
          <i class="fa fa-copyright"></i>2021 Vet Kg Все права защищены
        </p>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../../static/js/script.js"></script>
  </body>
</html>
